.footer-container{
    
   background-color: black;
   opacity: 0.8;
position: relative;
    height: 200px;
    width: 100%;
   
    align-items: center;
        justify-content: center;

    
    z-index: 1;
    .logos{
       padding-top: 2%;
        display: flex;
        align-content: center;
        justify-content: center;
        a{
          color: skyblue;
          padding-left: 20px;
      
        }

}

h1,p{
    margin-top: 1%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-size: 22px;
}
p{
    font-size: 15px;
}


    
}